// Default mixins and settings -----------------
@import "./vendor/mixins";
@import "./vendor/settings";
// ---------------------------------------------

// Fonts
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
$headingFont: 'Oswald', sans-serif;
$mainFont: 'Roboto', sans-serif;

// colors
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Override theme settings (see ../template/settings.scss)

$mainColor: #16080B;
$headingColor: #9E2B25;
$headingTextShadow: none;
$backgroundColor: #F5F8DE;
$linkColor: #4C2C72;
//#4D5057


// Theme template ------------------------------
@import "./vendor/theme";
// ---------------------------------------------
